body{
    display: flex;
    justify-content: center;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Balsamiq Sans', cursive; 
}

header{
    width: 902px;
    height: 30px;
    background-color: #83c5be;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

h1{
    color: black;
}



input{
    border: 2px solid black;
    width: 300px;
    height: 15px;
}

#login{
    width: 85px;
    height: 35px;
    background-color: #006d77; 
    color: white;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    margin-top: 10px;
}

.contenido{
    width: 900px;
    height: 800px;
    display: flex;
}


.col1{
    border: 3px solid black;
    width: 600px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    margin-top: 40px;
    display: flex; 
    flex-direction: row;
    align-items: center;    
}

.infoCol1{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0.1;
}

.infoCol2{
    width: 600px;
    height: 200px;
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 0.1;
}

.col2{
    border: 3px solid black;
    width: 290px;
    height: 150px;
    margin-top: 40px;
    margin-left: 20px;
    padding:10px;
    display: flex;
    flex-direction: column;
    line-height: 0.1;
}


button{
    width: 85px;
    height: 35px;
    background-color: #e29578;
    border: 3px solid black;
    box-shadow: 2px 2px black;
    margin-top: 10px;
}

h3{
    margin-bottom: 0;
}



#agregar{
    width: 280px;
    height: 35px;
    font-size: 17px;
    background-color: #ffddd2;
    border: 3px solid black;
    margin-top: 15px;
    box-shadow: 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    cursor:pointer
}